# Listing path patterns that shall be ignored by git:
*.beam
*.o
*.so
*.log
*.plt
*erlang.log.*
declared-types-in-*.txt
.eunit
erl_crash.dump

# For Emacs temporary files:
*.#*

*~

# Added in relation to rebar3:
.rebar
rebar3.crashdump
.rebar3
_*

# Mere symlink:
src/seaplus.app.src

# Generated:
conf/rebar.config

src/foobar_seaplus_api_mapping.h
src/foobar_seaplus_driver.c
src/seaplus_test
test/c-test/foobar_seaplus_api_mapping.h
test/c-test/foobar_seaplus_driver

doc/mathjax
doc/Ceylan-Seaplus-Layer-technical-manual-english.aux
doc/Ceylan-Seaplus-Layer-technical-manual-english.html
doc/Ceylan-Seaplus-Layer-technical-manual-english.pdf
doc/Ceylan-Seaplus-Layer-technical-manual-english.rst
doc/Ceylan-Seaplus-Layer-technical-manual-english.tex
doc/Ceylan-Seaplus-Layer-technical-manual-english.toc
doc/api-doc/
doc/index.html
doc/overview.edoc
doc/seaplus.html
doc/seaplus.pdf
